<ion-header>
    <ion-toolbar>
        <ion-buttons *ngIf="currentUser != true" slot="start">
            <ion-back-button defaultHref="/main/profile"></ion-back-button>
        </ion-buttons>
        <ion-title>Profile</ion-title>
        <img slot="end" src="../assets/icons8-da-vinci-100.png" width="100">
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="container">
        <ion-card>
            <form [formGroup]="profileForm">
                <img tappable onclick="this.value = null" id="mainProfileImage" src="https://i.stack.imgur.com/YQu5k.png" (click)="uploadImage()" width="200" height="200" />
                <input id="imageUploadProfile" type="file" formControlName="profilePhoto" (change)="loadImage($event.target.files)">
                <h1>{{username}}</h1>
                <ion-item>
                    <ion-label position="floating">
                        <ion-text color="dark">Tagline:</ion-text>
                    </ion-label>
                    <ion-input type="text" formControlName="tagline"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">
                        <ion-text color="dark">Description:</ion-text>
                    </ion-label>
                    <ion-input id="desc" type="text" formControlName="description"></ion-input>
                </ion-item>
                <h1 color="dark">Interests</h1>
                <ion-row>
                    <ion-col>
                        <ion-input color="dark" type="text" formControlName="firstInterest"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-input color="dark" type="text" formControlName="secondInterest"></ion-input>
                    </ion-col>
                    <ion-col>
                        <ion-input color="dark" type="text" formControlName="thirdInterest"></ion-input>
                    </ion-col>
                </ion-row>
                <ion-button *ngIf="currentUser === true" type="submit" value="Submit" (click)="updateProfile()">Save changes</ion-button>
            </form>
        </ion-card>
    </div>
</ion-content>